@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;

}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 400px;
    background: rgb(189, 212, 245);
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid black;
}






.title {
color: rgb(133, 27, 27);
  font-size: 35px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;

}

.loginBox input,
.log {
    width: 100%;
    margin-bottom: 20px;
    
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 30px;
    color: rgb(31, 23, 23);
    background: transparent;
    font-size: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover {
    color: bisque;
    border: 1px solid rgb(131, 66, 66);
    ;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.426), 0 0 10px rgba(229, 99, 63, 0.2), 0 0 15px rgba(255, 77, 0, 0.1), 0 2px 0 black
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
    border-bottom: 2px solid rgb(131, 66, 66);
}

.inputBox {
    position: relative;
}

.log {
    border: none;
    outline: none;
    height: 35px;
    font-size: 20px;
    background: brown;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 50px;
}


li{
    text-decoration: none;
  display: inline;
  padding: 10px;
  color: black;
 
    
}
.nav{
    text-align: center;
    padding-top: 10px;
    background-color: rgb(154, 205, 247);
    height: 50px;
}